.school
    %h2= name
    .subsection
        %h3 Students
        .block
            %b Capacity:
            %span= (base + relocatables)
            (
            %span= base 
            base + 
            %span= relocatables
            relocatables)
        .block
            %b enrolments
            421
        .block 
            %b Locality
            300 local, 180 non-local


            
    .subsection
        %h3 Demographic Demand Forecasts
        .block
            %b School-aged population:
            %span= (attendGov + attendNonGov)
            %ul
                %li
                    %span= attendGov + ' government'
                %li
                    %span= attendNonGov + ' non-government'
        .block
            .btn-group{role:"group", 'data-toggle': 'buttons'}
                %a#dnb-total.btn.btn-secondary{href:'#'} Total
                %a.btn.btn-secondary{href:'#'} By school
                %a.btn.btn-secondary{href:'#'} By status
            %table.table
                %tr
                    %th Year level
                    %th 2017
                    %th 2018
                    %th 2022
                    %th 2027
                    %th 2037
                :each year in demand
                    %tr
                        %td= year.year
                        %td= (year.attendGov + 0)
                        %td= (year.attendGov +10)
                        %td= (year.attendGov + 33)
                        %td= (year.attendGov +44 )
                        %td= (year.attendGov + 71)
